/*
 * Here the Rafael-specific style in less
 * Be aware that this is a less-file which needs to be compiled to a css
 */
.linen {
  background: url(images/bg-rafael.png) repeat !important;
}
header {
  min-height: 94px;
  margin-top: 45px !important;
}
header .logo-custom {
  margin-bottom: 15px !important;
  margin-top: 15px !important;
}
footer .logo img {
  height: 30px !important;
}
.navbar-inner {
  background-image: url(images/quick-bar.png) !important;
  background-position-x: 50%;
  background-size: initial;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: #244682 !important;
}
.navbar-inner .container {
  padding-top: 4px;
}
.navbar-inner #main-menu > li > a {
  color: white;
}
.nav .current-menu-item > a {
  background-color: white !important;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: black !important;
}
.nav .sub-menu {
  max-width: 260px !important;
}
#content .info {
  min-height: 150px !important;
  min-width: 100% !important;
  margin-bottom: 15px;
}
#content .news img {
  width: 150px !important;
}
footer {
  background: url(images/rn_texture_bottom.png) no-repeat bottom !important;
  background-size: 100% 70%  !important;
  height: 200px !important;
}
footer .container {
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-left: 10px !important;
  margin-right: 10px !important;
  margin-top: 3px !important;
}
footer .slogan {
  background: url(images/bg_repeat.png) repeat;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  padding-top: 4px;
  height: 36px;
}
footer .copyright {
  float: right !important;
  bottom: 0 !important;
  text-align: right;
}
footer .logo {
  float: left !important;
  bottom: 0 !important;
}
::-webkit-input-placeholder {
  color: #000000 !important;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #000000 !important;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #000000 !important;
}
:-ms-input-placeholder {
  color: #000000 !important;
}
aside#sidebar li {
  list-style-type: none !important;
}
div.canvas img {
  max-width: none !important;
}
input.search-query {
  width: 110px !important;
}
.tribe-events-list-widget ol {
  list-style: none;
  margin-left: 0px;
}
