/*
 * Here the Rafael-specific style in less
 * Be aware that this is a less-file which needs to be compiled to a css
 */
.linen {
  background: url(images/bg-rafael.png) repeat !important;
}
.navbar-inner {
  background-image: url(images/quick-bar.png) !important;
  background-position-x: 50%;
  background-size: initial;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
}
.navbar-inner .container {
  padding-top: 4px;
}
.navbar-inner #main-menu > li > a {
  color: white;
}
footer {
  background: url(images/rn_texture_bottom.png) no-repeat left bottom !important;
  background-size: initial;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  height: 96px !important;
}
footer container {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
footer .copyright {
  margin-left: 0px;
}
::-webkit-input-placeholder {
  color: #000000 !important;
}
:-moz-placeholder {
  /* Firefox 18- */

  color: #000000 !important;
}
::-moz-placeholder {
  /* Firefox 19+ */

  color: #000000 !important;
}
:-ms-input-placeholder {
  color: #000000 !important;
}
